.banner-box {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.screen-one-btn {
  margin-top: 2rem;
}
.box {
  text-align: center;
  
}


.box > span {
  font-size: 3rem;
  font-family: "Trap", sans-serif;
  line-height: 1.3;
  font-weight: 700;
  opacity: 0;
  display: none;
  height: 0;
}


.gif-box {
  width: 100%;
  height: 500px;
  
  display: flex;
  justify-content: space-between;
}
.gif-one-box, .gif-two-box {
  height: 450px;
  position: absolute;
  top: 15rem;
}
.gif-two-box {
  right: 0rem;
}
.gif-one , .gif-two{
  height: 100%;
  width: 100%;
}


.blurbg {
  border-image-slice: 30%;
  border-bottom: 10px solid red;
  display: inline-block;
  z-index: -1;
  border-image-source: linear-gradient(90deg, #febe58 0%, #de2bae 100%);
  filter: blur(3px);
  display: block;
  margin-top: -25px;
}

.blur-container {
  width: max-content;
  /* color: red; */
  display: inline-block;
}

.text-box {
  text-align: center;
  padding: 0rem 1rem;
  font-size: 24px;
  font-weight: 400;
  /* background-color: /red; */
  margin-top: 3rem;
  font-family: "Outfit", sans-serif;

}
.text-box-text {
  color: #7b7b7b;
  font-style: normal;
  font-size: 1rem;
  font-family: "outfit", sans-serif;
  font-weight: 400;
}


.move-down{
  margin-top: 4rem;
  text-align: center;
  min-width: 80%;
  display: grid;
  place-content: center;
  place-items: center;
}



@media screen and (max-width: 768px) {
  .box {
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.2;
    padding: 0rem .5rem;

  }
  .screen-one-btn {
    margin-top: 0rem;
    margin-bottom: 1rem;
  }
  .banner-box {
    margin-top: 3rem;
  }
  .gif-one-box {
    position: relative;
    /* width: 288px; */
    height: 250px;
    top: 0;
    margin: auto;
  }
  .gif-two-box {
    display: none;
  }

  .blurbg {
    border-bottom: 10px solid red;
    border-image-slice: 30%;
    display: inline-block;
    z-index: -1;
    border-radius: 20px;
    border-image-source: linear-gradient(90deg, #febe58 0%, #de2bae 100%);
    filter: blur(3px);
    display: block;
    margin-top: -10px;
  }
  .box > span {
    font-size: 1.3rem;
    font-family: "Trap", sans-serif;
    line-height: 26px;
    font-weight: 900;
  }


  .text-box  {
    text-align: center;
    font-weight: 400;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    margin-top: 0rem;
    /* margin-top: .5rem; */
  }
  .text-box-text {
    color: #7b7b7b;
    font-size: 1rem;
    font-family: "outfit", sans-serif;
    font-weight: 400;
    padding: 0rem 1rem;
    text-align: center;
    margin: 10px 0;
  }
}

@media screen and (min-width: 769px) and (max-width:992px) {
  .box {
    margin-bottom: 6rem;

  }
  .box > span {
    font-size: 2.5rem;
    
  }
 
  .gif-one-box, .gif-two-box {
    height: 250px;
   
    top: 17rem;
  }
  

  .text-box{
    display: block;
    width: 60%;
  }

  .text-box-text{
    margin-top: 1rem;
  }
}
@media screen and (min-width: 993px) {
  .box {
    margin-bottom: 1.3rem;
  }

  .text-box{
    display: block;
    width: 60%;
  }

  .text-box-text{
    margin-top: 1rem;
  }
}