.banner-box{
    /* background: red; */
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    align-items:center;
    justify-content: center;
    width:100%;
}
.box{
        /* width:100%; */
        text-align: center;
        padding-bottom: 40px;
}
.box > span{
    font-size: 3rem;
    font-family: 'Trap', sans-serif;
    line-height: 63.36px;
    font-weight: 700;
    opacity: 0;
    display: none;
    height: 0;
}
.gif-box{
    background-color: red;
    width:100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    /* margin-top:-20rem ; */
    /* top:rem; */
}
.gif-one{
    position: absolute;
    width:40%;
    /* display: none; */
    top:11rem;
    left:0rem; 
}
.gif-two{
    /* margin-top: -20rem; */
    position: absolute;
    top:11rem;
    right:-2rem;
    /* display: none; */
    width:40%;
}

.blurbg{
border-bottom:10px solid red;
border-image-slice: 30%;
filter: blur(.5px);
text-shadow: white 0px 0px 2px;
/* box-shadow: 5px 10px linear-gradient(90deg, #FEBE58 0%, #DE2BAE 100%); */
z-index:-1;
border-image-source:linear-gradient(90deg, #FEBE58 0%, #DE2BAE 100%);
/* border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%; */
/* border-image-source: linear-gradient(90deg, #FEBE58 0%, #DE2BAE 100%); */
/* filter: blur(12px); */
}
.text-box{
    margin-top: 2rem;
    max-width:40rem;
    text-align: center;
    padding: 0rem 1rem;
    font-size: 24px;
    font-weight: 400;
    /* font-family:"AvenirLTStd-Book" ; */
    font-family:'Outfit', sans-serif ;
   
}
.text-box-text{
    color:#7B7B7B;
    font-style: normal;
    font-size: 1rem;
    font-family: 'outfit', sans-serif;
    font-weight: 400;

}

@media screen and (min-width:600px) and (max-width:992px){
    .gif-two{
        display: none;
    }
    .gif-one{
        position: absolute;
        top:35rem;
        left:-1rem;
        width:110%;
    }
    .box > span{
        font-size: 2rem;
        font-family: 'Trap', sans-serif;
        line-height: 63.36px;
        font-weight: 700;
        opacity: 0;
        display: none;
        height: 0;
    }
}

@media screen and (max-width:575px){
    .banner-box{
        /* background-color:blue; */
        /* padding-top: 3rem; */
        margin-top: 0rem;
       
    }
    .box{
        /* background-color: red; */
        text-align: none;
        padding:3rem .3rem 4rem .3rem;
    }
    .gif-two{
        display: none;
    }
    .gif-one{
        position: absolute;
        top:25rem;
        left:-1rem;
        width:100%;
    }
    .box >span{
        
        text-align: center;
        /* width:50rem; */
        font-size:1.6rem;
        font-weight: 700;
        line-height:31.6px;
        background-color: blue;
      
       
    } 
    .text-box{
        max-width:25rem;
        /* background-color: red; */
        text-align: center;
        padding:0rem 0.6rem;
        font-size:1rem;
        margin-top: -2rem;
    
    }
    .text-box-text{
        color:#7B7B7B;
        margin-top: 1rem;
    
    }
}