.banner-box {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.screen-one-btn {
  margin-top: 2rem;
}
.box {
  text-align: center;
  padding-bottom: 40px;
}
.box > span {
  font-size: 3rem;
  font-family: "Trap", sans-serif;
  line-height: 63.36px;
  font-weight: 700;
  opacity: 0;
  display: none;
  height: 0;
}
.gif-box {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
}
.gif-one-box {
  width: 595px;
  height: 595px;
  position: absolute;
  top: 16rem;
}
.gif-two-box {
  width: 595px;
  height: 595px;
  position: absolute;
  top: 16rem;
  right: 0rem;
}
.gif-one {
  max-height: 100%;
  max-width: 100%;
}
.gif-two {
  max-height: 100%;
  max-width: 100%;
}

.blurbg {
  border-bottom: 20px solid red;
  border-image-slice: 30%;
  display: inline-block;
  z-index: -1;
  border-radius: 20px;
  border-image-source: linear-gradient(90deg, #febe58 0%, #de2bae 100%);
  filter: blur(3px);
  display: block;
  margin-top: -25px;
}

.blur-container {
  width: max-content;
  /* color: red; */
  display: inline-block;
}

.text-box {
  margin-top: 2rem;
  max-width: 40rem;
  text-align: center;
  padding: 0rem 1rem;
  font-size: 24px;
  font-weight: 400;

  font-family: "Outfit", sans-serif;
}
.text-box-text {
  color: #7b7b7b;
  font-style: normal;
  font-size: 1rem;
  font-family: "outfit", sans-serif;
  font-weight: 400;
}
@media screen and (max-width: 400px) {
  .blurbg {
    border-bottom: 5px solid red;
    border-image-slice: 30%;
    display: inline-block;
    z-index: -1;
    border-radius: 20px;
    border-image-source: linear-gradient(90deg, #febe58 0%, #de2bae 100%);
    filter: blur(3px);
    display: block;
    margin-top: 25px;
  }
  .box {
    text-align: center;
    margin-bottom: 30px;
    padding: 0rem 1rem;
    line-height: 31px;
  }

  .text-box {
    margin-top: 1rem;
    max-width: 40rem;
    text-align: center;
    padding: 0rem 1rem;
    font-size: 24px;
    font-weight: 400;
    /* background-color: aqua; */
    font-family: "Outfit", sans-serif;
  }
}
@media screen and (max-width: 414px) {
  .screen-one-btn {
    margin-top: 0rem;
  }
  .banner-box {
    margin-top: 3rem;
  }
  .gif-one-box {
    position: relative;
    width: 288px;
    height: 250px;
    top: 0;
    margin: auto;
  }
  .gif-two-box {
    display: none;
  }
  .box {
    text-align: center;

    padding-bottom: 20px;
  }
  .blurbg {
    border-bottom: 10px solid red;
    border-image-slice: 30%;
    display: inline-block;
    z-index: -1;
    border-radius: 20px;
    border-image-source: linear-gradient(90deg, #febe58 0%, #de2bae 100%);
    filter: blur(3px);
    display: block;
    margin-top: -10px;
  }
  .box > span {
    font-size: 1.3rem;
    font-family: "Trap", sans-serif;
    line-height: 26px;
    font-weight: 900;
  }
  .text-box {
    margin-top: 1.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  .text-box-text {
    color: #7b7b7b;
    font-size: 1rem;
    font-family: "outfit", sans-serif;
    font-weight: 400;

    padding: 0rem 1rem;
    text-align: center;
    margin-top: 1.2rem !important;
  }
}

@media screen and (min-width: 414px) and (max-width: 992px) {
  .banner-box {
    margin-top: 3rem;
  }
  .screen-one-btn {
    margin-top: 0rem;
  }
  .box {
    text-align: center;
    padding: 1rem;  
     /* background-color: #febe58; */
    margin-bottom: 30px;
  }
  .blurbg {
    border-bottom: 15px solid red;
    border-image-slice: 30%;
    display: inline-block;
    z-index: -1;
    border-radius: 20px;
    border-image-source: linear-gradient(90deg, #febe58 0%, #de2bae 100%);
    filter: blur(3px);
    display: block;
    margin-top:-10px;
  }
  .box > span {
    font-size: 1.3rem;
    font-family: "Trap", sans-serif;
    line-height: 26px;
    font-weight: 900;
  }
  .text-box {
    margin-top: 1rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  .gif-one-box {
    width: 400px;
    height: 400px;
    position: relative;
    top: 0rem;
    display: flex;
    justify-content: center;
  }
  .gif-two-box {
    display: none;
  }
}
@media screen and (min-width: 992px) and (max-width: 1280px) {
    .text-box {
        margin-top: 4rem;
       
      
        font-family: "Outfit", sans-serif;
      }
    .gif-one-box {
    width: 450px;
    height: 450px;
    position: absolute;
    top: 18rem;
  }
 

  .gif-two-box {
    width: 450px;
    height: 450px;
    position: absolute;
    top: 18rem;
    right: 0rem;
  }
}
@media screen and (min-width: 1440px) and(max-width:1500px) {
  .gif-one-box {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 15rem;
  }
  .gif-two-box {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 15rem;
    right: 0rem;
  }
}
@media screen (min-width:811px) and(max-width){
  
}