.screen-four-btn{
  position: relative;
  top:0rem;
  display: flex;
  justify-content: flex-end;
 
}

.input-tag:checked + .checkmark {
  background-color: #fff;
}

.others-box {
  margin-top: -0.5rem !important;
  margin-bottom: 20px;
}



@media  screen and (max-width:768px) {
  .screen-four-btn{
    position: relative;
    top:5rem;
    display: flex;
    justify-content: center;
   
  }

  .container{
      font-size: 18px;
      margin: .5rem;
  }
}


