.navigation-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2.5rem;
}
.icon-box {
  display: flex;
}
.icons {
  margin: 0 0.5rem;
}
a {
  color: black;
}

@media screen and (max-width: 768px) {
  .navigation-bar {
    padding: 1rem;
  }

  .icons {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    margin: 0rem 0.3rem;
  }
}
