.navigation-bar {
  align-items: center;
  display: flex;
  justify-content: row;
  justify-content: space-between;
  padding: 3rem 8rem;
}
.icon-box {
  display: flex;
  flex-direction: row;
}
.icons {
  margin: 0rem 3px;
}

@media screen and (max-width: 992px) {
  .navigation-bar {
    /* background-color: blue; */

    padding: 2rem 0.5rem;
  }

  .icons {
    margin: 0.3rem;
    font-size: 1rem;
    padding: 0.7rem;
  }
}
