button{
    background-color: #C8563C;
    border-radius: 8px;
    font-family: 'Trap', sans-serif;
    font-weight: 900;
    width: 297px;
    height: 60px;
    border: none;
    color:#fff;
    cursor: pointer !important;
    font-size: 1.25rem;
}
@media screen and (max-width:992px) {
    button{
        font-size: 1rem;
        margin-top: 1rem;
       
        
    }
}

