.gif-box{
    /* width:100%; */
    /* background-color: blue; */
  
}
/* .gif-one{
    position: absolute;
    top:18rem;
    left:-5rem; 
}
.gif-two{
    position: absolute;
    top:18rem;
    right:-5rem;
} */