@font-face {
  font-family: "Trap-Black";
  src: url("./fonts/Trap-Black.otf") format("otf");
}
@font-face {
  font-family: "Trap-Bold";
  src: url("./fonts/Trap-Bold.otf") format("otf");
}
@font-face {
  font-family: "Trap-ExtraBold";
  src: url("./fonts/Trap-ExtraBold.otf") format("otf");
}
@font-face {
  font-family: "Trap-Light";
  src: url("./fonts/Trap-Light.otf") format("otf");
}
@font-face {
  font-family: "Trap-Medium";
  src: url("./fonts/Trap-Medium.otf") format("otf");
}
@font-face {
  font-family: "TrapSemiBold";
  src: url("./fonts/Trap-SemiBold.otf") format("otf");
}
body {
  /* height: 900px; */
  max-height: 100vh;

  background-image: url(./assets/Group\ 1000003672.png);
  background-repeat: no-repeat;
  font-family: "Trap-Medium", sans-serif;
  width: 100vw;
  background-color: black;
  /* overflow-x: hidden; */
  /* overflow:hidden; */
  /* overscroll-behavior-y: contain; */

  color: #fff;
  margin: 0;
  padding: 0;
}
@media screen and (max-width:575px){
  body{
    overflow-x: hidden;
  }
}
@media screen and(max-width:575px) {
  body {
    background-size: contain;
    /* height: -webkit-fill-available; */

    background-image: url(./assets/Group\ 1000003672.png);
    /* overflow-y: none !important; */
  }
}

/* Hide the browser's default checkbox */
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
