.simple-text{
    color:#C8563C;
}
.six-btn{
    min-width:800px;
    /* background-color: green; */
   display: flex;
   justify-content: flex-end !important;
    /* margin: 10rem; */
    /* min-width:200px;
    top:25rem;
    display: flex;
    right: 0 ;
    justify-content: flex-end !important; */
}
@media screen and (max-width:575px) {
    .six-btn{
        min-width:800px;
        /* background-color: green; */
       display: flex;
       justify-content: flex-start !important;
       
    }
}
