.simple-text{
    color:#C8563C;
}
.six-btn{
   
   display: flex;
   justify-content: flex-end ;
   margin-top: 5rem
   /* background-color: green; */
   
   ;
   
}
@media screen and (max-width:768px) {
    .six-btn{
        /* min-width:800px; */
        position: relative;
        top:8rem;
        margin-top: 0rem;
        /* margin-left: 1rem; */
       display: flex;
       justify-content: center;
       
    }
}
