.meet-main-box {
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  margin-top: 3rem;
}
.meet-image-box {
  width: 600px;
  height:600px;
  /* background-color: green; */
}
.phone3 {
  max-width: 100%;
  max-width:100%
}
.meet-left-box {
  width:900px;
  height:600px;
  /* background-color: blue; */
  /* padding:; */
}
.title-box{
  /* background-color: red; */
  width: 80%;
}
.meet-left-box h1 {
  font-size: 3rem;
  font-family: "Trap", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 0rem;
  line-height: 63.3px;
  padding: .5rem 0rem;
  margin-top:1rem;
}
.form-box {
  /* background-color: orange; */
  width:550px;
  height: 300px;
}
.button-box {
  display: flex;
  margin-top: 6rem;
  justify-content: flex-end;
  /* background-color: aquamarine; */
}

.input-field {
  display: block;
  padding: 0.2em; 
  box-sizing: border-box;
  width: 100%;
  margin: 2rem 0rem;
  font-size: 1.5rem;
  width: 100%;
  font-weight: 400;
  /* padding: .8rem 0.5rem; */
  font-family: "outfit", sans-serif;
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  color: #D4D4D4;
  line-height: 31.6px;
  
  /* z-index: 1; */
}
.input-field:focus {
  outline: none;
}
.input-field2 {
  display: block;
  margin: 1.5rem 0rem 7rem 0rem;
  font-size: 24px;
  width: 70%;
  font-weight: 400;
  padding: .8rem 0.5rem;
  font-family: "outfit", sans-serif;
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  color: #D4D4D4;
  
}
.input-field2:focus {
  outline: none;
}

@media screen and (max-width:360px) {
  .meet-main-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* background-color: red; */
   
    margin-top: 2.8rem;
  }
  .meet-image-box {
    width: 600px;
    height:600px;
    /* background-color: green; */
    display: none;
  }
  
  .meet-left-box {
    width:100%;
    height:500px;
    /* background-color: blue; */
    flex-direction:column;
    
  }
  .title-box{
    width: 90%;
    padding: 0rem 1rem;
  }
  .meet-left-box h1 {
    font-size: 1.5rem;
    font-family: "Trap", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 0rem;
    line-height: 31px;
    margin-top:1rem;
  }
  .form-box {
    /* background-color: orange; */
    width:90%;
    padding: 0rem 1rem;
  }
  .button-box {
    display: flex;
    margin-top: 10rem;
    justify-content: center;
    width: 100%;
  }
  .input-field {
    font-size: 1.2rem;
    width: 90%;
    font-weight: 400;
  }
}


@media screen and (min-width:361px) and (max-width:575px) {
  .meet-main-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* background-color: red; */
   
    margin-top: 2.8rem;
  }
  .meet-image-box {
    width: 600px;
    height:600px;
    /* background-color: green; */
    display: none;
  }
  
  .meet-left-box {
    width:100%;
    height:500px;
    /* background-color: blue; */
    flex-direction:column;
    
  }
  .title-box{
    width: 90%;
    padding: 0rem 1rem;
    /* background-color: aquamarine; */
  }
  .meet-left-box h1 {
    font-size: 1.7rem;
    line-height: 31px;
   
  }
  .form-box {
    /* background-color: orange; */
    width:90%;
    height: 550px !important;
    padding: 0rem 1rem;
  }
  .button-box {
    display: flex;
    margin-top: 15rem;
    justify-content: center;
    width: 100%;
  }
  .input-field {
    font-size: 1.2rem;
    width: 90%;
    font-weight: 400;
  }
}
@media screen and(max-height:640px){
  .meet-left-box {
    width:80% !important;
  }
  .button-box {
    display: flex;
    margin-top: 0rem;
    justify-content: center;
    width: 100%;
    
  }
  
}
